<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.firefly.nkeksi">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.CacheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GettingStartedUser"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginUser"></activity>
        <activity android:name=".RegisterUser"
            android:launchMode="singleInstance"/>
        <activity android:name=".RegisterSecondUser"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".TestSearch" />
        <activity android:name=".ForgotPasswordUser"
            android:launchMode="singleInstance"/>
        <activity android:name=".RestoDashBoard" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MapsActivity"></activity>
        <activity android:name=".FoodItemActivity" />
        <activity android:name=".CartDetail"></activity>
        <activity android:name=".EditProfile"/>
    </application>

</manifest>