<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.firefly.nkeksi">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.CacheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.GettingStartedUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginUser" />
        <activity
            android:name=".login.RegisterUser"
            android:launchMode="singleInstance" />
        <activity
            android:name=".login.RegisterSecondUser"
            android:launchMode="singleInstance" />
        <activity
            android:name=".user.UserProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.HomeTemp" />
        <activity
            android:name=".login.ForgotPasswordUser"
            android:launchMode="singleInstance" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".user.CartDetail" />
        <activity android:name=".user.EditProfile" />
        <activity android:name=".user.DeliveryAddress" />
        <activity android:name=".tests.Enter_Resto_Detail" />
        <activity android:name=".CustomerService" />
        <activity android:name=".ui.FoodDetailTemp" />
        <activity android:name=".ReviewMeal"></activity>
    </application>

</manifest>